
.pure-table .subject_name {
	font-weight: bold;
}

.pure-table .subject_name {
	font-weight: bold;
}
.pure-table td.sssid,
.pure-table td.action,
.pure-table td.message {
	font-size: 1.5em;
	text-align: center; vertical-align: middle;
}
.pure-table td.message {
	padding: 2em;
}

.pure-table td.subject_status {
	text-align: center; vertical-align: middle;
}
.pure-table td.subject_status > div {
	display: inline-block;
	width: 1em; height: 1em;
	font-size: 0.8em; line-height: 1.5;
	border-radius: 100%;
	background-color: rgb(220,220,220);
}
.status1 {
	background-color: #F90 !important;
}
.status2 {
	background-color: #390 !important;
}
.status3 {
	background-color: #900 !important;
}

#blackout {
	position: fixed; top: 0; left: 0; right: 0; bottom: 0;
	background-color: rgba(0,0,0,0.75);
}
.qrpopover {
	position: absolute; top: 50%; left: 50%;
	width: 400px; height: 400px;
	margin: -200px 0 0 -200px;
	border: 2px solid black; border-radius: 2px;
	background-color: white;
	box-shadow: 0 10px 80px black;
}
.qrpopover img {
	width: 396px; height: 396px;
	cursor: pointer;
}

.small, .pure-table .small {
	font-size: 0.85em;
}
.error {
	color: #900;
}
