p.container
  a.institute(href="http://c3-pro.org")
    img.institute(src="/images/Logo-web.png", srcset="/images/Logo-web@2x.png 2x, /images/Logo-web@3x.png 3x", alt="")
  | Copyright © 2017<br>Boston&nbsp;Children's&nbsp;Hospital / University&nbsp;Hospital&nbsp;Zurich
