doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#page-wrapper
      div#header
        nav#nav
          ul
            li
              a(href="/login") Login

    section.wrapper.style1
          div.container.login
            block content
    footer
      .center
      p
        a(href="http://www.chip.org")
          img.institute(src="/images/ResearchInstitute-web.png", srcset="/images/ResearchInstitute-web@2x.png 2x, /images/ResearchInstitute-web@3x.png 3x", alt="")
      p Copyright © Boston Children's Hospital 2015
