doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/overrides.css')
  body
    div#page-wrapper
      div#header
        nav#nav
          ul
            li
              a(href="/subjects/0")
                i.fa.fa-plus
                  p New Subject
            li
              a(href="/subjects")
                i.fa.fa-list-alt
                  p Subjects
            li
              a(href="/logout")
                i.fa.fa-sign-out
                  p Logout
    section.wrapper.style1
      div.container
        block content
    footer
      .center
      p
        a(href="http://www.chip.org")
          img.institute(src="/images/ResearchInstitute-web.png", srcset="/images/ResearchInstitute-web@2x.png 2x, /images/ResearchInstitute-web@3x.png 3x", alt="")
      p Copyright © Boston Children's Hospital 2015
    
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    //- script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/mustache.min.js')
    script(type='text/javascript', src='/javascripts/main.js')
    block scripts
