doctype html
html
  block vars
  head
    title= title || "IDM"
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#page-wrapper
      div#header
        nav#nav
          ul
            li
              a(href="/login") Login

    section.wrapper.style1
      div.container.login
        block content
    footer
      include footer
