extends layoutout

block content
  h2 IDM Log in
  form(action="/login", method="POST")
    p
        input.form-control(name="username", type="text", placeholder="ch...")
    p
        input.form-control(name="password", type="password", placeholder="***")
    p
        button(type="submit") Log in
