extends layout

block content
  h2 New subject
  form(action="/patient", method="POST")
    p   SSSID:
    if (typeof patient === 'undefined')
        p
            input.form-control(name="sssid", type="text", placeholder="1234...")
    else
        p
            input.form-control(name="sssid", type="text", placeholder="1234...", value= "#{patient.sssid}")
    p   eMail:
    if (typeof patient === 'undefined')
        p
            input.form-control(name="email", type="text", placeholder="johndoe@...")
    else
        p
            input.form-control(name="email", type="text", placeholder="johndoe@...", value="#{patient.email}" )
    p
        button.btn.btn-lg.btn-primary.btn-block(type="submit")
            i.fa.fa-save &nbsp;Add
        button(onclick="move();return false;")
            i.fa.fa-stop &nbsp;Cancel

  if !(typeof errMessage === 'undefined')
    p.errormsg= errMessage

  script.
      function move() {
        window.location.href = '/patients';
      }