extends layout

block content
  script.
    function move(id) {
      window.location.href = '/patient/'+ id
    }

    function convert (epoch) {
      var date = new Date(epoch);
      return (date.getMonth()+1) + "/" + date.getDate() +  "/" + date.getFullYear() ;
    }

  .center
  table.pure-table
    thead
      tr
        th #
        th SSSID
        th eMail
        th State
        th Creation
        th Change State
        th Actions

    tbody#patients
      tr
        td(colspan='7')
          p loading patients...

  script(id='tmpl_row', type='x-tmpl-mustache').
    <tr>
      <td><img src="/images/state{{ state.id }}.png" alt="state {{ state.id }}"></td>
      <td>{{ sssid }}</td>
      <td>{{ email }}</td>
      <td>{{ state.state }}</td>
      <td>{{ creationDate }}</td>
      <td>{{ changeStateDue }}</td>
      <td><a href="/mail/\#{{ id }}"><i class="fa fa-envelope{{#state.id}}-o{{/state.id}}"></i></a></td>
    </tr>

block scripts
  script(src="javascripts/patients.js")
  script.
    $(document).ready(function() {
      getPatients();
    });
