extends layout

block vars
  - var title = "IDM: Subjects"

block content
  h1 Recent Subjects
  table.pure-table
    thead
      tr
        th 
        th SSSID
        th Name
        th Consented
        th Enrolled
        th.small Updated
        th 
        th 

    tbody#recent
      tr
        td.loading.message(colspan='8')
          p Loading recent subjects...
  
  #all
    h1 All Subjects
    table.pure-table
      thead
        tr
          th 
          th SSSID
          th Name
          th Consented
          th Enrolled
          th.small Updated
          th 
          th 

      tbody#subjects
        tr
          td.loading.message(colspan='8')
            p Loading all subjects...

  script(id='tmpl_row', type='x-tmpl-mustache').
    <tr class="row_{{ sssid }}">
      <td class="subject_status">
        <div class="status{{ status }}"></div><br>
        {{ human_status }}
      </td>
      <td class="sssid">{{ sssid }}</td>
      <td>
        <div class="subject_name">{{ name }}</div>
        {{#bday}}<i class="small">{{ birthDate }}</i>{{/bday}}
        <!--{{#email}}<a class="small" href="mailto:{{ email }}">{{ email }}</a>{{/email}}
        {{^email}}<i class="small">no&nbsp;email</i>{{/email}}-->
      </td>
      <td>
        {{#date_consented}}{{ consentedDate }}{{/date_consented}}
        {{^date_consented}}<a href="javascript:void(0);" onclick="markConsented('{{ sssid }}')"><b>record consent</b></a>{{/date_consented}}
      </td>
      <td>
        {{#date_enrolled}}{{ enrolledDate }}{{/date_enrolled}}
        {{^date_enrolled}}<i class="small">not&nbsp;yet</i>{{/date_enrolled}}
      </td>
      <td class="small">{{#changedDate}}{{ changedDate }}{{/changedDate}}{{^changedDate}}{{ createdDate }}{{/changedDate}}</td>
      <td class="action">
        <a href="javascript:void(0);" onclick="showQRCode('{{ sssid }}')"{{^date_consented}} class="inactive"{{/date_consented}}><i class="fa fa-qrcode"></i></a>
      </td>
      <td class="action">
        <a href="/subjects/{{ sssid }}"><i class="fa fa-arrow-circle-right"></i></a>
      </td>
    </tr>

block scripts
  script(src="/javascripts/subjects.js")
  script.
    $(document).ready(function() {
      getRecentSubjects(3, function(n) {
        if (n > 3) {
          $('#all').show();
          getSubjects();
        }
      });
    });
