extends layout

block content
  .center
  table.CSSTableGenerator
    tr
        td SSSID
        td eMail
        td State

    for patient in patients
        tr(onclick='move(#{patient.id})')
          td= patient.sssid
          td= patient.email
          td= patient.state
    else
      li no patients

  script.
      function move(id) {
        window.location.href = '/patient/'+ id
      }