extends layout

block content
  .center
  table.pure-table
    thead
      tr
        th 
        th SSSID
        th Name
        th Created
        th Updated
        th
        th 
        th 

    tbody#subjects
      tr
        td#loading.message(colspan='8')
          p Loading subjects...

  script(id='tmpl_row', type='x-tmpl-mustache').
    <tr>
      <td class="subject_status">
        <div class="status{{ status }}"></div><br>
        {{ human_status }}
      </td>
      <td class="sssid">{{ sssid }}</td>
      <td>
        <div class="subject_name">{{ name }}</div>
        {{#email}}<a class="subject_email" href="mailto:{{ email }}">{{ email }}</a>{{/email}}
        {{^email}}<i class="small">no&nbsp;email</i>{{/email}}
      </td>
      <td class="small">{{ createdDate }}</td>
      <td class="small">{{ changedDate }}</td>
      <td class="action">
        <a href="javascript:void(0);" onclick="showQRCode('{{ sssid }}')"><i class="fa fa-qrcode"></i></a>
      </td>
      <td class="action">
        <a href="/mail/\#{{ sssid }}"><i class="fa fa-envelope{{#status}}-o{{/status}}"></i></a>
      </td>
      <td class="action">
        <a href="/subjects/{{ sssid }}"><i class="fa fa-pencil"></i></a>
      </td>
    </tr>

block scripts
  script(src="/javascripts/subjects.js")
  script.
    $(document).ready(function() {
      getSubjects();
    });
